
.container {
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  
  .slogan-aulas {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button-text {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .arrow {
    font-size: 30px;
    transition: 0.3s;
  }
  
  .arrow-rotate {
    transform: rotate(180deg);
  }
  
  .day-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: white;
    font-weight: 300;

  }
  
  .day-list-item {
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
  }

/* Estilo geral para a lista */
.detalhe-aula {
    background-color: #5BBA89; /* Cor de fundo para a área */
    padding: 30px;
    border-radius: 20px;
    margin-left: 400px;
    margin-right: 500px;
  }
  
  .detalhe-aula-list {
    list-style-type: none; /* Remove a bolinha padrão */
    padding: 0;
  }
  
  .detalhe-aula-item {
    display: flex; /* Utiliza flexbox para alinhar ícone e texto */
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    font-size: 20px; /* Tamanho da fonte */
    text-align: center;
  }
  
  .icons, .lotacao {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
    font-size: 18px; /* Ajuste no tamanho do ícone */
  }

  .agendar-btn{
    background-color: white;
    color: #5BBA89;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
  }

  .agendar-btn:hover {
    background-color: gray;
  }
  
  